.gameDiv {
  margin-top: 0.1cm;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  height: 70vh;
  width: 100%;
  /* background-color: rgb(4, 39, 114); */
  color: #fff;
}

.buttonGame {
  padding: 1vw;
  border-radius: 10px;
  background: var(--colour-orange-transparent);
  border-color: var(--colour-orange);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  margin: 2vw;
  font-size: 2vw;
}

.endGameDiv {
  display: flex;
  /* block-size: auto; */
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 50vw;
  max-width: 70vw;
  min-width: 30vw;
  margin-right: 5%;
  color: #fff;
  background-color: var(--colour-purple-transparent);
  border-radius: 10px;
  padding: 5%;
  border-color: var(--colour-purple);
  border-style: solid;
  border-width: 10px;
}

.endDiv {
  padding: 5%;
  margin: 1cm;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  display: inside;
  font-size: 1em;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.endGameButton {
  padding: 2vw;
  border-radius: 10px;
  background: var(--colour-red-transparent);
  border-color: var(--colour-red);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  /* margin: 2vw; */
  font-size: 2vw;
}

.astronaut {
  align-self: flex-end;
  width: 50vw;
}

.pointsHelpDiv {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
