/* .Login {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20%;
} */

.Login {
    display: flex;
    justify-content: center;
    align-items: center;

.loginLogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
}

.loginLogo {
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginInput, .passwordInput {
    width: 30vw;
    height: 5vh;
    margin: 1vh;
    border-radius: 10px;
    color: rgb(13, 13, 13);
    font-size: 3vh;
    font-weight: 300;
    text-align: center;
}

.loginButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background: var(--colour-red);
    color: #fff;
    margin: 2vw;
    font-size: 3vw;
}
