.profilePageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  width: 80%;
  height: 60vh;
  margin-top: 5%;
  margin-left: 10%;
}

h4 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  margin: 10px;
}

.profileDiv {
  text-align: center;
  display: block;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 90%;
  margin-right: 1cm;
  background-color: var(--colour-green-transparent);
  color: #fff;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
  border-color: var(--colour-green);
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-left: 20%;
  /* padding: 20%; */
}

.gameButton {
  padding: 2vw;
  border-radius: 10px;
  background: var(--colour-purple-transparent);
  border-color: var(--colour-purple);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  margin: 2vw;
  font-family: "Bubblegum Sans";
  font-size: 3vw;
  cursor: pointer;
}

.gameButton:hover {
  background: var(--colour-purple);
  border-color: var(--colour-purple-transparent);
  color: #fff;
  cursor: pointer;
}

.profileImage {
  width: 30vw;
  height: auto;
}

.welcome {
  margin: 30px;
}

.avatarWrapProfile {
  left: 2cm;
  width: 7cm;
  border-radius: 50%;
  border: rgb(0, 255, 26) dotted 3px;
  background-color: var(--colour-green-transparent);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 15cm;
  padding-bottom: 15vh;
}

.avatarButton {
  background-image: url(https://i.ibb.co/Zgj3G3g/customise.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15vw;
  height: 12vh;
  margin-bottom: 10%;
}

.avatarButton:hover{ 
  cursor: pointer;
  transform: rotate(5deg) scale(1.1) ;
}
