.progress-page {
  display: box;
  height: 60vh;
  background-color: transparent;
  background: transparent;
}

/* .grid-container {
  display: grid;
  height: 15cm;
  grid-auto-columns: repeat(4, 10%);
  background-color: transparent;
  background: transparent;
} */

/* .levelButtons {
  margin-top: 2cm;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 15vw;
  height: 15vh;
  margin: 2%;
  background-color: transparent;
  display: flex;
  position: absolute;
  z-index: 2;
} */

#levelButton {
  object-fit: scale-down;
}

#levelButton-1-lock {
  background-image: url(../images/planet-1.png);
  color: rgba (0, 0, 0, 0.5);
  top: 22vh;
  right: 85%;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-2-lock {
  background-image: url(../images/planet-2.png);
  left: 10%;
  top: 25vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-3-lock {
  background-image: url(../images/planet-3.png);
  left: 20%;
  top: 30vh;
  height: 25vh;
  width: 25vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-4-lock {
  background-image: url(../images/planet-4.png);
  left: 35%;
  top: 50vh;
  height: 16vh;
  width: 16vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-5-lock {
  background-image: url(../images/planet-5.png);
  left: 50%;
  height: 10vh;
  width: 10vh;
  top: 35vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-6-lock {
  background-image: url(../images/planet-6.png);
  left: 55%;
  top: 55vh;
  height: 16vh;
  width: 16vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-7-lock {
  background-image: url(../images/planet-7.png);
  left: 65%;
  top: 30vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-8-lock {
  background-image: url(../images/planet-8.png);
  left: 80%;
  top: 50vh;
  height: 10vh;
  width: 10vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-9-lock {
  background-image: url(../images/planet-9.png);
  left: 80%;
  top: 60vh;
  bottom: 5vh;
  width: 40vh;
  height: 40vh;
  filter: grayscale(100%);
  z-index: 1;
}

#levelButton-1-unlock {
  background-image: url(../images/planet-1.png);
  top: 22vh;
  right: 85%;
  z-index: 2;
}

#levelButton-2-unlock {
  background-image: url(../images/planet-2.png);
  left: 10%;
  top: 25vh;
  z-index: 2;
}

#levelButton-3-unlock {
  background-image: url(../images/planet-3.png);
  left: 20%;
  top: 30vh;
  height: 25vh;
  width: 25vh;
  z-index: 2;
}

#levelButton-4-unlock {
  background-image: url(../images/planet-4.png);
  left: 35%;
  top: 50vh;
  height: 16vh;
  width: 16vh;
  z-index: 2;
}

#levelButton-5-unlock {
  background-image: url(../images/planet-5.png);
  left: 50%;
  top: 35vh;
  height: 10vh;
  width: 10vh;
  z-index: 2;
}

#levelButton-6-unlock {
  background-image: url(../images/planet-6.png);
  left: 55%;
  top: 55vh;
  height: 16vh;
  width: 16vh;
  z-index: 2;
}

#levelButton-7-unlock {
  background-image: url(../images/planet-7.png);
  left: 65%;
  top: 30vh;
  z-index: 2;
}

#levelButton-8-unlock {
  background-image: url(../images/planet-8.png);
  left: 80%;
  top: 50vh;
  height: 10vh;
  width: 10vh;
  z-index: 3;
}

#levelButton-9-unlock {
  background-image: url(../images/planet-9.png);
  left: 80%;
  top: 60vh;
  bottom: 5vh;
  width: 40vh;
  height: 40vh;
  z-index: 2;
}

#levelButton-1-complete {
  background-image: url(https://i.ibb.co/gPpmPWz/planet-complete-neptune.png);
  top: 22vh;
  right: 85%;
  z-index: 2;
}

#levelButton-2-complete {
  background-image: url(https://i.ibb.co/m0NcCGS/planet-complete-uranus.png);
  left: 10%;
  top: 25vh;
  z-index: 2;
}

#levelButton-3-complete {
  background-image: url(https://i.ibb.co/JnB2rzS/planet-complete-saturn.png);
  left: 20%;
  top: 30vh;
  height: 25vh;
  width: 25vh;
  z-index: 2;
}

#levelButton-4-complete {
  background-image: url(https://i.ibb.co/XLVfLDB/planet-complete-jupiter.png);
  left: 35%;
  top: 50vh;
  height: 16vh;
  width: 16vh;
  z-index: 2;
}

#levelButton-5-complete {
  background-image: url(https://i.ibb.co/s2M75HZ/planet-complete-mars.png);
  left: 50%;
  top: 35vh;
  height: 10vh;
  width: 10vh;
  z-index: 2;
}

#levelButton-6-complete {
  background-image: url(https://i.ibb.co/TgzRJR2/planet-complete-earth.png);
  left: 55%;
  top: 55vh;
  height: 16vh;
  width: 16vh;
  z-index: 2;
}

#levelButton-7-complete {
  background-image: url(https://i.ibb.co/PT5Vrhj/planet-complete-venus.png);
  left: 65%;
  top: 30vh;
  z-index: 2;
}

#levelButton-8-complete {
  background-image: url(https://i.ibb.co/XkdrBdS/planet-complete-mercury.png);
  left: 80%;
  top: 50vh;
  height: 10vh;
  width: 10vh;
  z-index: 2;
}

/* .planets {
  display: grid;  
}

.planet-1 {
    height: 20vh;
    width: auto;
}

.planet-2 {
    height: 20vh;
    width: auto;
}

.planet-3{
    height: 20vh;
    width: auto;
}

.planet-4 {
    height: 20vh;
    width: auto;
}

.planet-5 {
    height: 20vh;
    width: auto;
}


.planet-6 {
    height: 20vh;
    width: auto;
}


.planet-7 {
    height: 20vh;
    width: auto;
}


.planet-8 {
    height: 20vh;
    width: auto;
}


.planet-9 {
    height: 20vh;
    width: auto;
} */
