.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.registerLogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    padding-bottom: 3vh;
}

.registerLogo {
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerNameInput, .registerPasswordInput, .registerEmailInput {
    width: 30vw;
    height: 5vh;
    margin: 1vh;
    border-radius: 10px;
    color: rgb(13, 13, 13);
    font-size: 3vh;
    font-weight: 300;
    text-align: center;
}

.registerButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerButton {
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background: var(--colour-red);
    color: #fff;
    margin: 2vw;
    font-size: 3vw;
}
