.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15cm;
  flex-direction: row;
}

.registerLogoDiv {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
}

.registerLogo {
  animation: rotation 2s infinite linear;
  width: 100%;
  object-fit: scale-down;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 3s ease-in-out;
}

.registerLogo:hover {
  transition: 10s;
  transform: rotate(360deg);
}

.registerNameInput,
.registerPasswordInput,
.registerEmailInput {
  width: 30vw;
  height: 5vh;
  margin: 1vh;
  border-radius: 10px;
  color: rgb(13, 13, 13);
  font-size: 3vh;
  font-weight: 300;
  text-align: center;
}

.registerButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerButton {
  width: 15vw;
  height: 7vh;
  border-radius: 10px;
  background: var(--colour-red);
  color: #fff;
  margin: 2vw;
  font-size: 3vw;
}
