.images-div{
    display: flex;
    flex-wrap: wrap;
}

.ten-pence-pic{
    width: 150px;
    height: 150px;
    margin: 10px;
}

.one-pence-pic{
    width: 90px;
    height: 90px;
    margin: 10px;
}
