.navBarPageDiv {
  background-image: url(./images/NavBar.png);
  background-size: cover;
  width: 1005;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  z-index: 5;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 1%;
  padding-right: 1%;
}

.navButtonProfile {
  background-image: url(./images/Background_Buttons/ProfileButtonE.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  min-width: 150px;
  min-height: 100px;
  text-align: center;
  object-fit: fill;
}

.navButtonGame {
  background-image: url(./images/Background_Buttons/GameButtonE.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 12vw;
  height: 12vh;
  min-width: 150px;
  min-height: 100px;
  object-fit: fill;
  text-align: center;
}

.navButtonProgress {
  background-image: url(./images/Background_Buttons/ProgressButtonE.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 12vw;
  height: 12vh;
  min-width: 160px;
  min-height: 100px;
  text-align: center;
  object-fit: fill;
}

.navButtonProfileHighlighted {
  background-image: url(./images/Background_Buttons/profile_button_glow.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 251, 0, 0);
  width: 10vw;
  height: 10vh;
  min-width: 140px;
  min-height: 100px;
  text-align: center;
}

.navButtonGameHighlighted {
  background-image: url(./images/Background_Buttons/game_button_glow.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  min-width: 140px;
  min-height: 100px;
  text-align: center;
}

.navButtonProgressHighlighted {
  background-image: url(./images/Background_Buttons/progress_button_glow.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  min-width: 140px;
  min-height: 100px;
  text-align: center;
}

.navButtonLogin {
  background-image: url(./images/Background_Buttons/loginButton.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 15vw;
  height: 10vh;
  min-width: 180px;
  min-height: 100px;
  text-align: center;
  color: rgba(0, 0, 255, 0);
}

.navButtonRegister {
  background-image: url(./images/Background_Buttons/registerButton.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(34, 34, 170, 0);
  width: 15vw;
  height: 10vh;
  min-width: 180px;
  min-height: 100px;
  text-align: center;
  color: #ffffff00;
}

.navButtonProfile:hover,
.navButtonGame:hover,
.navButtonProgress:hover,
.navButtonRegister:hover,
.navButtonLogin:hover {
  transition: transform 0.3s ease-in-out 0s;
  transform: rotate(5deg) scale(1.2);
  cursor: pointer;
}

.navBarLoginDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30vw; */
  height: 2cm;
  margin: 1cm 1cm;
}

.progress-score {
  width: 15vw;
  height: 8vh;
  display: flex;
  object-fit: scale-down;
  outline: #f70d11 5px groove;
  background-color: gold;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  color: black;
  border-radius: 50%;
  /* text-shadow: #fff 1px 1px; */
  margin-top: 2vh;
  z-index: 10;
  padding: 0.7cm;
  animation: rotation 2s infinite linear;
  transition: transform 1s ease-in-out;
}

.logo {
  margin-top: 2%;
  object-fit: scale-down;
  overflow: visible;
  width: 15vw;
  height: 30vh;
  animation: rotation 2s infinite linear;
  transition: transform 1s ease-in-out;
}

.progress-score:hover {
  transition: 2s;
  transform: scale(1, 0.5);
}

.logo:hover {
  transition: 2s;
  transform: rotate(360deg);
}

@media screen and (max-width: 650px) {
  .navBarPageDiv {
   width: 110%;
  }
}

@media screen and (max-width: 380px) {
  .navBarPageDiv {
    width: 160%;
  }
}