/* .fractions-Question-h1{
   padding-bottom: 100px;
   font-size: 1.7vw;
} */


.questionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 70vw;
    background-color: var(--colour-purple-transparent);
    border-radius: 10px;
    padding: 4vh;
    border-color: var(--colour-purple);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 5vh;
 } 

 .question-number-and-text{
   display: flex;
   flex-direction:row;
   gap: 2vw;
 }

 .fractions-Question-h1{
   display: flex;
   align-items: center;
   justify-content: center;
 }




.shapes-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   width: 60vw;
}


.half-circle{
    background-image: url(../../images/StarCounters/half.png);
   background-color: transparent;
   background-size: contain;
   width: 8vw;
   height: 10vh;
   background-repeat: no-repeat;
      
}
   

.quarter-circle{
 background-image: url(../../images/StarCounters/quarter.png);
  background-color: transparent;
   background-size: contain;
   width: 8vw;
   height: 10vh;
   background-repeat: no-repeat;
   position: relative;
   margin-top: 10%;
}

.three-q-circle{
    background-image: url(../../images/StarCounters/three-quarters.png);
     background-color: transparent;
      background-size: contain;
      width: 8vw;
      height: 10vh;
      background-repeat: no-repeat;
      
   }
   

.circle-shape{
    background-image: url(../../images/StarCounters/whole.png);
     background-color: transparent;
      background-size: contain;
      width: 8vw;
      height: 10vh;
      background-repeat: no-repeat;
      
   }


@media only screen and (max-width: 600px) {
   .quarter-circle{
      margin-right: 40%;
   }
   .question-text {
      display: flex;
      flex-direction: column;
   }
}