.questionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 80vw;
  background-color: var(--colour-purple-transparent);
  border-radius: 10px;
  padding: 5vh;
  border-color: yellow;
  /* var(--colour-purple); */
  border-style: solid;
  border-width: 10px;
  color: #fff;
  margin: 2vh;
}

column-div{
  display: flex;
  padding: 3vh;
  flex-direction: column;
  align-items: center;

 

}

.questionDisplay{
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.elementsInRow{
  display: flex;
  flex-direction: row;
}

.value1and2stars{
  width: 20vw;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
   gap: 1vw;
   grid-auto-rows: minmax(0vh, auto);
   align-items: center;
}
.starsimage{
  height: 6vh;
  width: 4vw;
}

.inputGame {
  padding: 2vh;
  border-radius: 10px;
  background: white;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  color: black;
  width: 10vw;
  height: 10vh;
  text-align: center;
  font-size: 2vw;
}

.h2QuestionGame {
  font-size: vw;
}
