.resource-button {
  font-family: "Bubblegum Sans";
  display: block;
  left: 80%;
  padding: 2vw;
  border-radius: 50%;
  background: var(--colour-yellow-transparent);
  border-color: var(--colour-yellow);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  margin: 2vw;
  font-size: 2vw;
}
