.navButtonLogout {
  background-image: url(../../images/Background_Buttons/logoutButton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 255, 0);
  width: 10vw;
  height: 10vh;
  min-width: 150px;
  min-height: 100px;
  text-align: center;
  margin-top: 0.25cm;
}

.navButtonLogout:hover {
  transition: transform 0.3s ease-in-out 0s;
  transform: rotate(360deg);
  cursor: pointer;
}
