.questionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 70vw;
    background-color: var(--colour-purple-transparent);
    border-radius: 10px;
    padding: 4vh;
    border-color: var(--colour-purple);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 5vh;
 } 

 .QuestionImg{
    width: 100px;
    height: 20px;
 }


 .inputGame{
    border-radius: 10px;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    color: black;
    width: 10vw;
    height: 10vh;
    text-align: center;
    font-size: 2vw;
}

.shapes-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   
}

.new-shape-button{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   margin: 10px;
   border: white solid 1px;
}


.square-shape{
  background-image: url(../../images/Shapes/square.png);
  background-color: transparent;
   background-size: contain;
   width: 8vw;
   height: 10vh;
   border: white solid 1px;
}


.rectangle-shape {
   background-image: url(../../images/Shapes/rectangle.png);
   background-color: transparent;
   background-size: contain;
   width: 10vw;
   height: 8vh;
   border: white solid 1px;

}

.circle-shape {
   border: white solid 1px;
   background-image: url(../../images/Shapes/circle.png);
   background-position: center;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   width: 10vw;
   height: 10vh;
   border: white solid 1px;
}

.triangle-shape {
   border: white solid 1px;
   background-image: url(../../images/Shapes/triangle.png);
   background-position: center;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   width: 10vw;
   height: 10vh;
   border: white solid 1px;
}

.pentagon-shape {
   border: white solid 1px;
   background-image: url(../../images/Shapes/pentagon.png);
   background-position: center;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   width: 10vw;
   height: 10vh;
}

.hexagon-shape {
   border: white solid 1px;
   background-image: url(../../images/Shapes/hexagon.png);
   background-position: center;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   width: 10vw;
   height: 10vh;
}

.octagon-shape {
   border: white solid 1px;
   background-image: url(../../images/Shapes/octagon.png);
   background-position: center;
   background-color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   width: 10vw;
   height: 10vh;
}