.questionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 70vw;
    background-color: var(--colour-purple-transparent);
    border-radius: 10px;
    padding: 4vh;
    border-color: var(--colour-purple);
    border-style: solid;
    border-width: 10px;
    color: #fff;
    margin: 5vh;
 } 

 .QuestionImg{
    width: 200px;
    height: 50px;
 }


 .inputGame{
    border-radius: 10px;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    color: black;
    width: 10vw;
    height: 10vh;
    text-align: center;
    font-size: 2vw;
}
