@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.answerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4cm;
  width: 70vw;
  margin-top: 2cm;
  padding: 1vh;
  color: #fff;
}

.statementDiv {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--colour-green-transparent);
  border-color: var(--colour-green);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  height: 4cm;
}

.h3ResultAnswerGame {
  font-size: 4vw;
  margin-left: 2vw;
  text-decoration: underline;
}

.newQuestionGameButton {
  font-family: "Bubblegum Sans";
  padding: 2vw;
  border-radius: 10px;
  background: var(--colour-red-transparent);
  border-color: var(--colour-red);
  border-style: solid;
  border-width: 10px;
  color: #fff;
  margin: 2vw;
  font-size: 2vw;
}
